{% extends 'base-main.html' %}
{% load staticfiles %}
{% block content %}
  <div class="row">
  <div class="col-sm-3">
 <select name="select" id="DList" class="select1">
    <option value="">Department</option>
    {% for i in dep %}
    <option value="/{{ i.department_initials }}/master">{{i.department_name}}</option>
    {% endfor %}
</select>
</div>
  <div class="col-sm-3">
<select name="select" id="urlList" class="select1">
    <option value="">Semester</option>
    {% for i in sem %}
    <option value="/{{ i.sem }}/Semester">{{i.sem}}</option>
    {% endfor %}
</select>
  </div>
    <div class="col-sm-3">
<select name="select" id="urlList1" class="select1">
    <option value="">Section</option>
    {% for i in sec %}
    <option value="/{{ i.Section }}/Section/">{{i.Section}}</option>
    {% endfor %}
</select>
</div>
  <div class="col-sm-3">
    <div class="form-group">
	    <input type="button" class="btn btn-info" id="btn" value="Find Now" onclick="findm();">
    </div>
  </div>
</div>
{% endblock %}